  @font-face {
      font-family: 'fs_emericbook';
      src: url('fonts/fs_emeric-book-webfont.woff2') format('woff2'),
           url('fonts/fs_emeric-book-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'fs_emericcore';
      src: url('fonts/fs_emeric-core-webfont.woff2') format('woff2'),
           url('fonts/fs_emeric-core-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'fs_emericlight';
      src: url('fonts/fs_emeric-light-webfont.woff2') format('woff2'),
           url('fonts/fs_emeric-light-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'fs_emericsemibold';
      src: url('fonts/fs_emeric-semibold-webfont.woff2') format('woff2'),
           url('fonts/fs_emeric-semibold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  